.Titulopag {
  
  color: #3e49539f; 
  font-size: 40px; 
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.TituloRepo{

  color: #3e49539f; 
  font-size: 40px; 
  text-align: center;
}

#LinksRepo h3 {

  color: #3e49539f; 
  font-size: 30px; 
  text-align: start;
  margin-bottom: 20px;
}

#LinksRepo{

  background-color: rgba(94, 92, 128, 0.089);
  padding: 20px;
  margin: 20 px;
}

#carouselExample {
    width: 100%;
    height: 900px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto; /* Centra el carrusel horizontalmente */
    overflow: hidden;
  }
.carousel-inner {
    text-align: center;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .carousel-caption h5 {
    color: black; /* Cambia a un color que sea visible en tu diseño */
}

#Educacion-p {
 
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-block: solid;
  writing-mode: horizontal-tb;
  
}

.education-container{

  
  padding: px;
  margin: px;
  display: flex;
  flex-direction: row;
  width: 85%;
  border-block: solid;
 writing-mode: horizontal-tb;
}

.contenedor-educacion-img {

  
  margin-left: 50%;
  width: 40%;
  
}

#Educacion-p ul {
  list-style-type: none; /* Quita los estilos de viñetas de la lista */
  padding: 0;
}

#Educacion-p li {
  border-bottom: 1px solid #ddd; /* Añade una línea separadora entre elementos de la lista */
  padding: 10px;
}

  
.carousel-caption {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: right;
}

#Experiencia {

  display: flex;
  flex-direction: column;
  
 
}
 
#Experiencia .Exp1,
#Experiencia .Exp2 {
  flex: 1; /* Otra opción es establecer un ancho específico, como width: 50%; */
  padding: 20px;
  margin: 20px;
  
  border-bottom: 1px solid #ddd;
}

.footer {

   
  background-color: rgba(94, 92, 128, 0.089);
  display: flex;
  flex-direction: column;
  align-items: center;


}

.dentrofoo {

   color:white;
   
   font-weight: lighter;
   font-size: x-large;

}